# Copie este arquivo para ".env" e ajuste os valores conforme seu ambiente.
# Se estiver usando o docker-compose.yml incluso, os valores padrão já funcionam.

DB_HOST=db
DB_USER=root
DB_PASS=root
DB_NAME=proj_internato
DB_PORT=3306
BASE_URL=/
