<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupos - Preceptor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <header>
        <div th:replace="~{fragments/navbar :: navbar}"></div>
    </header>
    
    <!-- Menu lateral (usando o fragmento) -->
    <th:block th:replace="~{fragments/menu-lateral-preceptor :: menu-lateral}"></th:block>
    <main>
        <div class="container mt-3">
            <div class="card">
                <div class="card-body">
                    <h3>Meus Subgrupos</h3>
                    
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Grupo</th>
                                <th>Subgrupo</th>
                                <th>Total de Alunos</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="subgrupo : ${subgruposPreceptor}">
                                <td th:text="${subgrupo.nomeGrupo}"></td>
                                <td th:text="${subgrupo.nomeSubgrupo}"></td>
                                <td th:text="${subgrupo.totalAlunos}"></td>
                                <td>
                                    <a th:href="@{/pages/preceptor/grupos/alunos(idsubgrupo=${subgrupo.idsubgrupo})}" 
                                       class="btn btn-primary btn-sm">
                                        <span class="fs-6 fw-normal p-2">
                                             <i class="bi bi-people"></i> Ver Integrantes
                                            </span>

                                    </a>
                                </td>
                            </tr>
                            <tr th:if="${#lists.isEmpty(subgruposPreceptor)}">
                                <td colspan="4">Nenhum subgrupo encontrado.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="card footer-home rounded-0">
            <div class="card-body">
                <p class="text-center">&copy; 2025 Interdisciplinar-Med</p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>
